* {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    background-image: url(black-pattern-wallpaper-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.searchSection {
    text-align: center;
    margin-top: 0rem;
}

input {
    opacity: .7;
    height: 2rem;
    margin-top: .5%;
    color: dimgray;
    background-color: darkgrey;
}

.submitButton {
    opacity: 1;
    background-color: dimgray;
    color: white;
}

.youtubeForm {
    height: 3rem;
    border: 1px solid dodgerblue;
    background-color: white;
    opacity: .96;
}

.youtubeLogo {
    background-image: url(YouTube-logo-full_color.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    margin-top: .5%;
    width: 10%;
    float: left;
    z-index: 1;
    opacity: .9;
}

.videos {
    width: 49%;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: .5rem;
}

.videos h2 {
    background-color: grey;
    opacity: .7;
    font-size: 0.6em;
    max-height: 3rem;
    height: 3rem;
}

.videoContainer {
    width: 80%;
    margin: 0 auto;
}

.videos img {
    width: 100%;
}
